* {
    box-sizing: border-box;
}

header {
    text-align: center;
    padding-top: 5em;
}

.header h4 {
    margin-bottom: 0em;
}

.header .header-icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.header .button:hover, .about .socials .social-icon:hover {
    opacity: calc(.50);
}

.header .button, .footer a {
    text-decoration: none;
    color: black;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: .75em;
}


.navbar a:hover, .home .btn-enter:hover, .currents .content a:hover {
    text-decoration: underline;
}

.navbar a:hover, .home .btn-enter:hover, .currents .content a:hover, .about .content .subtext:hover {
    color: grey;
}


.home {
    padding-top: 11em;
}

.home .home-header {
    padding-top: 7em;
    padding-bottom: 2em;
    
}

.home .home-header h1, .about h2, .photo .header h4, .header h4 {
    font-weight: bold;
}

.home .home-video {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.home .btn-enter {
    color: black;
    text-decoration: none;
}

.home .totoro-gif {
    height: auto;
    width: 80px;
}

.photo .header {
    text-align: center;
    padding-bottom: 2em;
}

.photo .header h4 {
    margin-bottom: 0.5em;
}

.blog, .moodboard {
    text-align: center;
}

.blog .content, .moodboard .content, .currents .content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.message .totoro {
    height: 250px;
    width: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.about .content .subtext {
    color: black;
    text-decoration: none;
}

.about .content {
    margin-top: 3em;
}

.about .socials .social-icon {
    margin-right: 1em;
}

.about .signature-img {
    width: 13em;
    height: 4.25em;
    object-fit: cover;
    margin-bottom: 2em;
}

.about .content .subtext {
    font-size: 12px;
    margin-bottom: 2em;

}

.about .socials {
    justify-content: center;
    margin-top: 1em;
    height: 3em;
}

.about .about-photo {
    height: auto;
    width: 21em;
    display: flex;
    margin: auto;
}

.footer {
    padding-top: 7em;
    padding-bottom: 2.5em;
    font-size: 12px;
    text-align: center;
}

.footer a:hover {
    color:pink;
}


@keyframes fadeInUp {
    0% {
      transform: translateY(2%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
.fadeInUp-animation {
    animation: 1.0s fadeInUp;
}
