* {
    box-sizing: border-box;
}

/* General Styling */
.home .header h1, .about h2, .navigation h4 {
    font-weight: bold;
}

/* PHOTO + VIDEO */
.photo .vertical, .video .vertical {
    height: auto;
    width: 20em;
    padding-bottom: .75em;
}

.photo .horizontal, .video .horizontal {
    height: auto;
    width: 35em;
    padding-bottom: .75em;
}

.photo p, .video p {
    color: grey;
    font-size: .9em;
    font-style: italic;
}

/* Navigation */
.navigation {
    text-align: center;
    padding-top: 3em;
}

.navigation .navigation-bar-icon {
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.navigation .button:hover, .about .socials .social-icon:hover {
    opacity: calc(.50);
}

.navigation .button, .footer a {
    text-decoration: none;
    color: black;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: .75em;
}

.navbar a:hover, .home .btn-enter:hover {
    text-decoration: underline;
}

.navbar a:hover, .home .btn-enter:hover, .currents .content a:hover, .about .content a:hover {
    color: grey;
}

/* FOOTER */
.footer {
    padding-top: 3em;
    padding-bottom: 2.5em;
    font-size: 12px;
    text-align: center;
}

.footer a:hover {
    color:pink;
}

/* HOME */
.home {
    padding-top: 11em;
    padding-bottom: 5em;
}

.home .content {
    margin-top: 7em;
    margin-right: 10em;
}

.home .content .header {
    margin-bottom: 2em;
    overflow: visible;
    white-space: nowrap;
}

.home .enter {
    text-align: end;
}

.home .content .btn-enter {
    margin-left: 2em;
    overflow: hidden;
    white-space: nowrap;
}

.home .home-video {
    width: auto;
    height: 25em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.home .btn-enter {
    color: black;
    text-decoration: none;
}

.home .totoro-gif {
    height: auto;
    width: 80px;
}

/* BLOG PAGE*/
.blog .blog-row {
    margin-top: 2em;
}

.blog .title h1 {
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.blog .title h1 .highlight {
    background-color: #FFC0CB;
}

.blog .blog-row .blog-preview {
    color: black;
}

.blog .blog-row .blog-preview .title {
    font-weight: bold;
    font-size: 2em;
}

.blog .blog-row .blog-preview .date, .blog .blog-row .blog-preview .subtitle  {
    font-size: 1em;
    color: #494F55;
}

.blog .blog-row .blog-preview-photo {
    width: 35em;
    height: 18em;
    margin: auto;
    display: block;
    object-fit: cover;
}

.blog .blog-row:hover {
    opacity: calc(.70);
}

/* BLOG POST*/
.blog-post .content {
    padding: 2em 16em 0em 16em;
}

.blog-post .content .header {
    text-align: center;
}

.blog-post .content .header .date, .blog-post .content .header .subtitle {
    color: grey;
}
.blog-post .content .header .title {
    font-weight: bold;
    font-size: 2em;
}

.blog-post .content .header .subtitle {
    font-size: 1em;
}

.blog-post .content .header .cover-photo {
    height: 25em;
    width: 40em;
    margin: auto;
    object-fit: cover;
    padding: 1em 0em 2em 0em;
}

.blog-post .content .body .section {
    padding-bottom: .9em;
}

.blog-post .content .body .photo, .blog-post .content .body .video {
    text-align: center;
}

.blog-post .content .body h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.blog-post .content .body li {
    margin-left: 1em;
    padding-left: .5em;
    margin-bottom: .5em;
}

/* PHOTO */
.photo .title {
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1em;
}

.photo .title h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.photo .title .highlight {
    background-color: aliceblue;
}

/* ABOUT PAGE */
.about .content a {
    color: black;
    text-decoration: none;
}

.about .content {
    margin-top: 3em;
}

.about .socials {
    margin-top: 0.75em;
}

.about .socials .social-icon {
    margin-right: 0.75em;
}

.about .signature-img {
    width: 13em;
    height: 4.25em;
    object-fit: cover;
    margin-bottom: 2em;
}

.about .content .subtext {
    font-size: 12px;
    margin-bottom: 2em;

}

.about .socials {
    justify-content: center;
    height: 3em;
}

.about .about-photo {
    height: auto;
    width: 21em;
    display: flex;
    margin: auto;
}

.about .footer {
    padding-top: 7em;
}

/* FADE EFFECT */
@keyframes fadeInUp {
    0% {
      transform: translateY(2%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
.fadeInUp-animation {
    animation: 1.0s fadeInUp;
}


/* Styling for smaller screens */
@media (max-width: 1200px) {
    .home {
        padding-top: 11em;
    }

    .home .content .header {
        margin-left: 3em;
    }

    .home .content .enter {
        margin-left: 10em;
    }

    .blog .content .blog-row .blog-preview-photo {
        width: 30em;
        height: 18em;
        margin-bottom: 1em;
    }

    .blog-post .content {
        padding: 2em 9em 0em 9em;
    }

    .photo .horizontal, .video .horizontal {
        height: auto;
        width: 28em;
        padding-bottom: .75em;
    }

    .about .content .bio {
        padding-left: 3em;
        padding-right: 3em;
        margin-top: 3em;
    }

    .MuiImageList-root {
        column-count: 3 !important;
    }
}

@media (max-width: 992px) {
    .home {
        padding-top: 4em;
    }

    .home .content .header {
        margin-top: -5em;
        margin-left: 9em;
    }

    .home .content .enter {
        margin-left: 4em;
    }

    .blog .content .blog-row .blog-preview {
        margin-left: 7.5em;
    }

    .MuiImageList-root {
        column-count: 2 !important;
    }
}

@media (max-width: 768px) {

    .home {
        padding-top: 5em;
    }

    .home .content .header {
        margin-top: -5em;
        margin-left: 2em;
    }

    .home .content .enter {
        margin-left: 8em;
    }

    .blog .content .blog-row .blog-preview {
        margin-left: 1em;
    }

    .blog-post .content {
        padding: 2em 3em 0em 3em;
    }

    .blog-post .content .header .cover-photo {
        height: 18em;
        width: 25em;
        margin: auto;
        object-fit: cover;
        padding: 1em 0em 2em 0em;
    }

    .photo .horizontal, .video .horizontal {
        height: auto;
        width: 25em;
        padding-bottom: .75em;
    }
    
    .about .about-photo {
        width: 17em;
    }

    .about .footer {
        padding-top: 5em;
    }
}

@media (max-width: 700px) {
    .home {
        margin-top: 1em;
    }

    .home .home-video {
        width: auto;
        height: 20em;
    }

    .home .content .header {
        margin-left: 0em;
    }

    .home .content .enter {
        margin-left: 9em;
    }

    .home .content .btn-enter {
        margin-left: 2em;
    }

    .blog-post .content .header .cover-photo {
        width: 21em;
        height: 15em;
        margin: auto;
        object-fit: cover;
        padding: 1em 0em 2em 0em;
    }
    
    .blog .content .blog-row .blog-preview-photo {
        width: 22em;
        height: 12em;
        margin-bottom: 1em;
    }

    .blog .blog-row .blog-preview .title, .blog-post .content .header .title {
        font-size: 1.4em;
    }

    .blog-post .content .header .subtitle {
        font-size: 0.7em;
    }

    .blog-post .content {
        padding: 2em 1em 0em 1em;
    }

    .about .content .bio {
        padding-left: 1em;
        padding-right: 1em;
    }
}